.box-grid {
    display: flex;
    flex-direction: column;
    width: 270px;
    grid-area: "product-list";

    .list-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "product"
        "product"
        "product"
        "product"
        "product"
        "product"
        "product"
        "product"
        "product";
    }
}
